<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gfxy.master.mapper.RegisterMapper">

    <insert id="insertStudents" parameterType="register">
        INSERT INTO students (id, StudentID, Department, `Name`, Gender, Age)
        values (#{id}, #{StudentID}, #{Department}, #{Name}, #{Gender}, #{Age});

    </insert>
    <insert id="insertTeachers" parameterType="register">
        insert into teachers (id, TeacherID, `Name`, Gender, Title, Department)
        values (#{id}, #{TeacherID}, #{Name}, #{Gender}, #{Title}, #{Department});
    </insert>
    <insert id="insertUser" parameterType="register">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="NickName != null">NickName,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="userType != null">userType,</if>
            <if test="Gender != null">Gender,</if>
            <if test="PhoneNumber != null">PhoneNumber,</if>
            <if test="Email != null">Email,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="NickName != null">#{NickName},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="userType != null">#{userType},</if>
            <if test="Gender != null">#{Gender},</if>
            <if test="PhoneNumber != null">#{PhoneNumber},</if>
            <if test="Email != null">#{Email},</if>
        </trim>
    </insert>


    <resultMap id="userRole" type="userRole">
        <result property="userId" column="user_id"></result>
        <result property="roleId" column="role_id"></result>
    </resultMap>
    <insert id="insertUserRole" parameterType="register">
        INSERT INTO sys_user_role (UserId, RoleId)
        values (#{UserId}, #{RoleId});
    </insert>
</mapper>
